$color-primary: #cc5c52
$color-primary-light: #db6f65
$color-secondary: #8ebd4c
$color-contrast: #fcfcca
$color-black: #111
$color-white: #fafafa

@function tint($color, $percentage)
  @return mix(white, $color, $percentage)

@function shade($color, $percentage)
  @return mix(black, $color, $percentage)

// JSON pretty print overrides
.json-key
  color: $color-primary

.json-string
  color: $color-secondary

body
  color: $color-black
  margin-top: 0
  margin-bottom: 5rem
  padding: 0
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji
  background-color: $color-white
  min-width: 1000px

a
  color: $color-primary

  &:hover
    text-decoration: none

h1
  color: $color-primary

.header
  text-align: center
  text-transform: uppercase
  background-color: $color-primary-light
  padding: 2rem
  margin: 2rem auto
  max-width: 550px
  box-shadow: 2px 2px $color-black
  font-size: 1.25rem

  &__title
    margin: 0
    color: $color-white

  &__subtitle
    margin: 0
    color: $color-white

.container
  max-width: 900px
  margin: auto
  font-size: 1.5rem

.editor
  display: grid
  grid-template-areas: "grammar input" "grammar result"
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr
  column-gap: 1rem
  margin: 0 2rem
  height: 95vh
  background-color: $color-primary
  padding: 1rem
  box-shadow: 2px 2px $color-black

  &__title
    margin-top: 0
    margin-bottom: .5rem
    padding: 0
    color: $color-white
    text-transform: uppercase

  &__grammar
    grid-area: grammar

  &__input
    grid-area: input

  &__result
    grid-area: result
    background-color: $color-white
    overflow: auto
    padding: 1rem

#ace-editor
  margin: 0
  width: 100%
  height: calc(100% - 40px)

.grammar-input
  width: calc(100% - 5px)
  height: calc(100% - 60px)
  outline: none

.grammar-output
  margin: 0
